{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="margin: auto;width: 50%;">🍎苹果科技开放职位</h1>

    <P></P>

    {% block header %}
    <a href="/" style="text-decoration: none; color:#007bff">首页</a>
    <a href="/joblist" style="text-decoration: none; color:#007bff">职位列表</a>

    {% if user.is_authenticated %}
        <a href="/accounts/logout" style="text-decoration: none; color:#007bff">退出</a>
    {% else %}
        <a href="/accounts/login" style="text-decoration: none; color:#007bff">登陆</a>
    {% endif %}

    {% if user.is_authenticated %}
        <p>终于等到你 {{ user.username }}, 期待加入我们，用技术去探索一个新世界</p>
    {% else %}
        <br>欢迎你，期待加入我们，登陆后可以提交简历<br>
    {% endif %}
    {% endblock %}

    {% block content %}
    {% endblock %}
</body>
</html>